@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption&family=Fira+Sans:ital,wght@1,400;1,500&family=Quicksand:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

#logo {
    width: 150px;
    height: auto;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font: 19px;
    transition: .5s;
    font-size: 16px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #D21617;
}

.hero-container {
    background-image: url(http://s2.glbimg.com/ULrXPPnj4EJ1h_yzTYHZwi6P1M8=/smart/e.glbimg.com/og/ed/f/original/2017/10/04/blade_runner.jpg);
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area {
    height: 470px;
    width: 350px;
    font-size: 2px; 
    font-family: 'Fira Sans', sans-serif;
    backdrop-filter: invert(20%);
    border-radius: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
    border-color: #000;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    justify-content: center;
    padding-bottom: 20px;
}

fieldset {
    height: 100%;
    width: 100%;
    border-radius: 2%;
}

.label {
    color: rgb(74, 8, 83);
    font-size: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 10px auto;
}

input {
    width: 80%;
    height: 30px;
    font-size: 15px;
    background-color: #fff;
    margin: 10px auto;
    border-radius: 100px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 80%;
    height: 50px;
    background-color: #fff;
    font-size: 15px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 3px;
}

button {
    height: 40px;
    width: 120px;
    cursor: pointer;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid rgb(74, 8, 83, 0.5);
    color: rgb(74, 8, 83);
    transition: .5s;
}

button:hover {
    color: #9E0D0D;
}

footer {
    height: 150px;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {
    .footer-navigation {
        display: block;
        top: 20%;
    }
    
    nav {
        display: none;
    }

    span {
        font-size: 13px;
    }
}

@media(max-width: 410px) {
    .hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('https://w0.peakpx.com/wallpaper/180/462/HD-wallpaper-bladerunner-2049-blade-blade-runner-2049-bladerunner2049-runner-thumbnail.jpg');
        background-size: cover;
}

    .area {
        max-height: 90vh;
        max-width: 90vw;
    }   

    h1, label {
        color: white;
    }

    input, textarea {
        width: 95%;
    }
}